.connect {
  border: none;
  background: #3c9df8;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  min-width: 165px;
}
.connect:hover {
  border: 1px solid #2792f7;
  font-weight: 500;
}
.connect:disabled {
  background: var(--backgound-disabled);
  color: var(--text-disabled);
  opacity: 0.8;
  font-weight: 500;
  cursor: not-allowed;
}

.connect:disabled:hover {
  border: none;
}
