.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.hide {
  display: none;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 10px;
  border-bottom: 1px solid var(--border1);
}

.nav > div {
  display: flex;
  gap: 10px;
}

.menu {
  background: var(--background2);
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid transparent;
}

.menu:hover {
  border: 1px solid #cdcdcd;
}

.options {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 200px;
  background: var(--background1);
  border-radius: 8px;
  z-index: var(--dropdown-index);
}

.options a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 11px;
}
.options a:hover {
  background: var(--hover1);
}

.options button {
  border: none;
  background: no-repeat;
  width: 100%;
  display: flex;
  border-radius: 5px;
  gap: 5px;
  justify-items: center;
  padding: 15px;
  padding-bottom: 11px;
}
.options button:hover {
  background: var(--hover1);
}
.options button span {
  color: var(--text1);
}

.connected {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--background2);
  padding: 0px 2px;
  gap: 3px;
}

.connected button {
  background: var(--background3);
  color: var(--text1);
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid transparent;
}

.connected button:hover {
  border: 1px solid rgb(205, 205, 205);
}

.content {
  height: calc(100% - 50px);
  flex-grow: 1;
}
