.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
}

.drawer {
  transition: width 0.5s ease, min-width 0.5s ease;
}
.drawer.close {
  width: 0;
  min-width: 0;
}
.drawer.close * {
  display: none;
}
.drawer.open {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  width: 270px;
  padding: 10px;
  border-right: 1px solid rgb(238, 238, 238);
}
.drawer.open * {
  display: initial;
}

.drawer.open .connected {
  display: flex;
  flex-direction: row;
  background: none;
  border: 1px solid rgb(173, 173, 173);
  height: 45px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.drawer.open .connected:hover {
  background: rgb(226, 226, 226);
}
.drawer.open .connected span {
  display: block;
  text-align: left;
  width: 90%;
  margin-left: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 65px;
  padding: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  height: calc(100% - 50px);
  flex-grow: 1;
}
