.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background1);
  min-height: 55px;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
}

.content.dashed {
  border: 1px dashed rgb(162, 162, 162);
}

.content button:hover {
  transform: scale(1.1);
}
