.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background1);
  min-height: 55px;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  cursor: grab;
  border: 1px solid var(--border2);
}
.content:active {
  cursor: grabbing;
  background: var(--background2);
}
.content.dashed {
  border: 1px dashed rgb(162, 162, 162);
}
.content h2 {
  font-size: 14px;
  font-weight: normal;
  width: 80%;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  display: flex;
  padding: 5px;
  border: 1px solid var(--border2);
  border-radius: 4px;
  cursor: pointer;
}
.menu.show {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.menu.show:hover {
  background: var(--background2);
}
.menu.hide {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
