.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: #f6f8f9;
}

.connectContent {
  padding: 1em;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em;
  gap: 20px;
  overflow: auto;
  text-align: left;
}

.content > div {
  min-width: 200px;
  max-width: 300px;
}

.content h2 {
  font-size: 1em;
  font-weight: 500;
}

.content button {
  background: none;
  border: none;
  cursor: pointer;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo button:hover {
  transform: scale(1.1);
}

.items {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  margin: 10px 0;
  gap: 10px;
  overflow: auto;
}

.items h2 {
  font-size: 0.8em;
  font-weight: normal;
  width: 80%;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.items > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  box-shadow: rgb(27 31 35 / 4%) 0px 1px 0px,
    rgb(255 255 255 / 25%) 0px 1px 0px inset;
}

.addItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  height: fit-content;
  padding: 8px;
  margin-top: 5px;
}
.addItem input {
  outline: none;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 0.8em;
}
.addItem input:focus {
  border: 1px solid #2492f9;
}

.addItem button {
  font-size: 0.8em;
  padding: 4px 8px;
  border-radius: 5px;
}
.addItem button:first-child {
  background: #3c9df8;
  color: white;
  margin-right: 10px;
}
.addItem button:first-child:hover {
  background: #2b93f5;
  color: white;
  margin-right: 10px;
}
.addItem button:nth-child(2) {
  background: #8c8c8c;
  color: white;
}
.addItem button:nth-child(2):hover {
  background: #717171;
  color: white;
}

.itemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-height: 3em;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
}
.itemContent.dashed {
  border: 1px dashed rgb(162, 162, 162);
}

.itemContent button:hover {
  transform: scale(1.1);
}
