[data-theme='light'] {
  --text1: #000;
  --text-disabled: #666666;
  --background1: #fff;
  --background2: #f8f8f8;
  --background3: #f0efef;
  --background4: #f6f8f9;
  --backgound-disabled: #cfcfcf;
  --border1: #f8f8f8;
  --border2: #c6c6c6;
  --hover1: #eaeaea;
}

[data-theme='dark'] {
  --text1: #fff;
  --text-disabled: #b9b9b9;
  --background1: #000;
  --background2: #292929;
  --background3: #383838;
  --background4: #262626;
  --backgound-disabled: #4f4f4f;
  --border1: #3c3c3c;
  --border2: #5b5b5b;
  --hover1: #353535;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--text1);
  background: var(--background1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 117);
}
